<!doctype html>
<html>
   	<head>
<link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="Hadar.css">
  </head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
   
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Home</a>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Info</a></li>
        
</nav>
  
  <img id="moving" src="image.jpg" width="200" height="200">
  <h1>My Favorite Sites:</h1>
  <br>
  <a href="http://youtube.com">YOUTUBE</a>
  <br>
  <a href="http://student.meet.mit.edu/">MEET</a>
</body>
</html>
